extends ../layout/index 
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/img/nosotros.jpg", alt="Imagen de Nostros")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur illo doalias tenetur necessitatibus, qui nisi quod repellendus rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, asperiores?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eius doloremque optio commodi itaque atque, eaque autem at fuga corporis vitae a impedit debitis? Esse.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam qui, ad inventore nesciunt delectus voluptates facere earum dolores! Molestiae qui nemo ut praesentium ratione nesciunt nihil labore asperiores voluptatibus quaerat?

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono-seguridad.svg", alt="",class="img-fluid mb4")
                    h2.mb-4 seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quos magni sequi asperiores nobis magnam.
                .col-md-4
                    img(src="img/icono-seguridad.svg", alt="",class="img-fluid mb4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quos magni sequi asperiores nobis magnam.
                .col-md-4
                    img(src="img/icono-seguridad.svg", alt="",class="img-fluid mb4")
                    h2.mb-4 mejor precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quos magni sequi asperiores nobis magnam.listado-iconos
                